<nlog>
<targets>
  <target name="console" type="Console" layout="${shortdate} ${time} ==> ${message}" encoding="UTF-8" />
  <target
    name="file"
    type="file"
    layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ==> ${message}" 
    fileName="${specialfolder:folder=MyDocuments}/PoshLog.log"
    keepFileOpen="false"
    encoding="UTF-8"
   />
</targets>
<rules>
  <logger name="*" minlevel="Debug" writeTo="console,file" />
</rules>
</nlog>
